body {
    margin: 40px;
    background: white;
}

.magnet {
    width: 260px;
    height: 200px;
    background: #8b1025;
    position: relative;
    border-radius: 0 0 60px 60px;
    overflow: hidden;
}

.cut {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 140px;
    background: white;
    border-radius: 0 0 45px 45px;
}


.top {
    position: absolute;
    top: 0;
    width: 50px;
    height: 70px;
    background: #d6d6d6;
    z-index: 2;
}

.top.left {
    left: 0;
    border-bottom-right-radius: 12px;
}

.top.right {
    right: 0;
    border-bottom-left-radius: 12px;
}