* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 40px;
    font-family: Arial, sans-serif;
}

.container {
    border: 2px solid black;
    margin-bottom: 40px;
}
 

.container-one {
    width: 100%;
    height: 150px;
}

.left {
    width: calc(100% - 20px);
    height: 100%;
    background-color: lightblue;
    float: left;
}

.right {
    width: 20px;
    height: 100%;
    background-color: pink;
    float: left;
}


.container-two {
    width: 40%;
    height: 150px;
}

.box {
    width: calc(100% / 3);
    height: 100%;
    float: left;
    background-color: lightcoral;
    border-right: 1px solid white;
}

.box:last-child {
    border-right: none;
}
