body {
    margin: 30px;
}

#parent {
    width: 320px;
    height: 200px;
    background-color: #5a5ad6;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    padding: 15px;
    box-sizing: border-box;
}

.title {
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 16px;
}


.top-left {
    top: 5px;
    left: 5px;
}

.bottom-right {
    bottom: 5px;
    right: 5px;
}

.child {
    width: 30px;
    background-color: #cfcfcf;
}

#child-1 {
    height: 40px;
}

#child-2 {
    height: 80px;
}

#child-3 {
    height: 140px;
}

#child-4 {
    height: 100px;
}

#child-5 {
    height: 60px;
}