#weatherBox {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  margin-top: 10px;
}

.freezing {
  background-color: aqua;
}

.fair {
  background-color: orange;
}

.hell-scape {
  background-color: red;
}